@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
@import "tailwindcss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #0f172a !important;
  color: white !important;
  /* font-family:'Poppins', serif !important; */
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
  color: inherit !important;
}
input::placeholder , textarea::placeholder{
  color: white !important;
}



h2{
  font-weight: 700;
  position: relative;
}
section{
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  }
  section h2{
    margin-bottom: 1rem;
    color: white;
  }
  
section h2::after{
  position: absolute;
  content: '';
  width: 3rem;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 2.4rem;
  background: #00bfe7;

}
section h2:hover::after{
  width: 5rem;
  transition: .6s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}
section h4{
  padding-bottom: 1rem;
  text-align: center;
  color: lightblue;

}
section>h2,
section>h5
{
  text-align: center;
  color:var(--color-light);
}
section h2{
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.navbar{
  position: relative;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  padding:10px;
}
.navbar .logo{
  margin-left: 2rem;
}
.logo a{
  font-size: 26px;
  font-weight: bold;
}
.logo img{
  width: 100%;
  height: 9rem;
}

.logo:hover{
  color:#4db5ff;
}
.mobile-menu-icon{
  display: none;
}

.nav-links{
  justify-content: end;
  margin-right: 2rem;
  margin-bottom: inherit;
}
.nav li{
  display: block;
  padding:15px;
  font:400  Montserrat,sans-serif;
}
.nav-links a{
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.nav-links-mobile a{
  color: #fff;
}
@media screen and (max-width:768px) {
  .nav-links{
    display: none !important;
  }
  .nav-links-mobile{
    position: absolute;
    display: block !important;
    padding: 10px;
    background-color:#040c2c;
    left:0rem;
    top: 0px;
    transition: all 0.5 ease-in-out;
    width: 100%;
    z-index: 1;
  }
  .mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 25px;
    color: white;
    background-color: inherit;
    border: none;
    outline: none;
    z-index: 1;
    right: 0.75rem;
 
  }

}

.nav-item a{
  color: inherit;
}
.navbar li a{
  padding: 5px;
}
.navbar li a:hover{
  color: #4db5ff !important;
}
.nav-container{
  margin-top: inherit !important;
}
.admin{
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.admin img{
  position: relative;
  border-radius:50%;
max-width: 250px;
height: auto;
background: linear-gradient(90deg, rgba(7, 10, 66, 1) 0%, rgba(7, 9, 71, 1) 100%);
box-shadow: 0 0 5px 5px #2c2c6c;


}
/* .admin_social{
  display: flex;
  gap:1rem;
  padding-top: 1rem;
}
.admin_social a{

  padding: 0.8rem;
  border-radius: 50%;
  font-size: 1.3rem;
  display: flex;
  border: 2px solid rgba(255, 255, 255, .3);
}
.admin_social a:hover{
  border: 2px solid rgba(255, 255, 255, .2);
  background: #4db5ff;
} */
.typewriter{
  display: flex;
}
.typewriter h2{
  overflow: hidden;
 white-space: nowrap;
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
  animation: typing 3.5s steps(40, end);
}
.admin h4{
  color: #4db5ff;
}
@keyframes typing{
from{ width: 0%; }
to {width: 100%;}
}

.submit-btn{

  border: 1px solid #4db5ff66;
  background: #00bfe7;
  border-radius: 4px;
  color: white;
  padding:14px 38px 14px 38px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.submit-btn:hover{
  color:#fff;
  background: #00bfe7;
  box-shadow: 0 2px 4px 6px #4db5ff66;
  transition: 1s;
}

.about-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-info p{
  line-height: 30px;
  color: lightcyan;
  opacity: 0.8;
}
.about-info h5{
  color: #999;
}
.about_me{
  position: relative;
}
.about_me-img{
  display: flex;
  justify-content: space-around;
}
.about_me img{
  width: 100%;
  height: 20rem;
  padding: 4px;
  margin-bottom: 1rem;
  background: radial-gradient(black, transparent);
  /* border-radius: 50%; */
  border: 1px solid rgb(42 20 84 );
  cursor: pointer;
}
.about_me{

  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 50%;
}


.about_me-img img{
width: 300px;
height: 100%;
border-radius: 20px;
z-index: 1;

}
.line{

  width: 2.5px;
  max-height: 100%;
  background: #bcbcbc;
  transition: .5s;

}
.reach-me{
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.reach-me a{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  width: 18rem;
  font-weight: 600;
}
.bottom-line{
  width: 80px;
  height: 2px;
  display: inline-block;
  margin: 15px auto;
  background: #bcbcbc;
}

.works{
  background: #2C2C2C;
  opacity: .6;
  padding: 40px 25px 30px;
  border: 1px solid #f3f1f1;
  color: white;
  z-index: -1;
}
.works:hover{
background: #005469 ;
color: white !important;
}
.works h2{
  font-size: 20px;
  color: white;
}
#portfolio .nav-link {
  color:white !important;
   position: relative;
  
  }
  #portfolio .nav-link:hover::after{
    position: absolute;
    content: '';
    width: 10px;
    height: 2px ;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 2.5rem;
  
  }
  /* .portfolio-overlay{
    padding: 10px;
  } */
.portfolio-item{
  border-radius: 10px;
  position: relative;
  border: 1px solid hsl(218, 30%, 20%);
  background: transparent;
  /* background:  hsl(218, 30%, 20%); */
  transition: 2s;
}
.portfolio-item img{
  width: 100%;
  padding: 20px;
  overflow: hidden;

}
.portfolio-item h6{
  padding-left: 2rem;
}
.portfolio-item:hover .portfolio-img a{
opacity: 1;
transition: 1s;
}
.portfolio-item:hover .portfolio-img img{
  opacity: 0.5;
}
.portfolio-img{
  position: relative;
  padding: 4px;
}
.portfolio-img img{
  border-radius: 20px;
}
.portfolio-item a{
  font-weight: bold;
}
.portfolio-item p{
  font-weight: 500;
  line-height: normal;
}
.portfolio-links{
  display: flex;
  /* position: absolute;
  bottom: 1rem;
  right: 2rem; */
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  gap: 1rem;
}
.portfolio-img a{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  font-size:28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #2c2c6c !important;
  /* box-shadow: 0px 0px 0px 1px #00bfe7; */
  border-radius: 50%;
  z-index: 2;
  opacity: 0;
}
.portfolio-item h6{
  font-weight: bold;
  margin-top: inherit;
  margin-bottom: inherit;

}
.portfolio-menu li{
  border-radius: 2px;
  border:1px solid #ededed;
  color: #040c2c;
  padding: 0 25px;
  padding:14px 38px 14px 42px;
  background-color:transparent;
}

.portfolio-menu li button{
color: inherit;
text-decoration: none;
}
.portfolio img{
  height: 350px;
 }

.portfolio-links a{
  border: none;
  font-size: 2rem;
  width: 100%;
}
#portfolio .nav-link{
  background: none;
  border: none !important;
  border-radius: 0px;
  text-align: center;
  cursor: pointer;
}

#portfolio .nav li{
  padding: 1px;
  /* border-bottom: 1px solid #005469; */
}
#portfolio .nav-tabs {
  margin-bottom: 2rem;
  border: none;
}

#portfolio .nav-tabs li a:hover{
  background: #00bfe7;
}

.md{
  color:white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 32px;
  padding: 15px;
  display: inline-block;
  color:#95D6EA;
}

.skill{
  cursor: pointer;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.skill  img{
  width: 120px;
  height: 120px;
  padding: 20px;
  background:beige ;
  border-radius: 10px;
}
.skill img:hover{
  box-shadow: 2px 2px 4px 2px whitesmoke;
}
.skill h6{
padding-top: 1rem;
color: lightcyan;
}
.skill div{
display: flex;
justify-content: center;
align-items: center;
}

.contact_container{
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap:12%;
}
.container{
padding-top: 1rem;
}

.options{
  display: flex;
}
.contact_options{
  display: flex;
  flex-direction: column;
  gap:1.4rem;

}
#contact article{
  box-shadow: 0 0 5px 5px hsl(218, 30%, 20%);
}
#contact h6{
  font-weight: bold;
  letter-spacing: 1px;
}
#contact h5{
  font-weight: bold;
}
.contact_options article{
  padding: 20px;
  padding-bottom: 2rem;
  border-radius: .75rem;
  text-align: center;
}
.contact_options article div{
  display: flex;
  justify-content: center;
}
.contact_icon{
  font-size:2rem;
  margin-bottom: 1rem;
  
}
#contact form{
display: flex;
flex-direction: column;
gap:1.2rem;
}
#contact input, #contact textarea{
  width: 100%;
  resize: none;
  padding: 1.5rem;
  background: transparent;
  color: white !important;
  border: 2px solid hsl(218, 30%, 20%) !important;
}
.address{
  display: flex;
}



.services_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:3rem;
}
.service{
border-radius: 12px;
border: 2px solid rgba(129, 76, 236, 0.15);
padding: 1rem;
cursor: pointer;
}
.service:hover{
  box-shadow: 5px 10px 10px 5px rgba(129, 76, 236, 0.15);
}
.service ul{
  text-align: left;
  font-weight: 400;
  padding: 10px;
  line-height: 2;
}
.service ul li::before{
   content: "\f00c";
   font-family: FontAwesome;
   display: inline-block;
   margin-right: 1rem;
}
.service_head{
  padding: 0.7rem;
}
/* .service_head h5{
  color: rgba(255,255,255,0.6);
} */

.text_light{
  color:var(--color-light) !important;
}

.service ul li{
  gap: 1rem;
  margin-bottom: 1rem;
}
footer{
  margin-top: 3rem;
  padding: 20px;
  text-align: center;

  border-top: 1px solid hsl(218, 30%, 20%);
}
footer img{
  width: 150px;
  height: 100px;
}

.footer_logo{
font-size:2rem;
color: black;
font-weight: 500;
display: block;
margin-bottom: 1.5rem;
}

.social{
  display: flex;
  justify-content: center;
  gap:1rem;
}
.social a{
  padding: 0.4rem;
  background: hsl(218, 30%, 20%) ;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border: 1px solid transparent;
}
.social a:hover{
  background: #4db5ff;
  transition: 1s;
  
}
footer p{
  color:#fffafa;
}
.topbutton{
  background-color: hsl(218, 30%, 20%);
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 12px;
  border-radius: 50%;
}
@media screen and (max-width:768px) {
  .line{
    display: none;
  }
  .topbutton{
    display: none;
  }
}
#projects{
  justify-content: center;
}
@media screen and (max-width:1024px) {
  .contact_container{
    grid-template-columns: 1fr;
    gap:2rem;
  }
  .portfolio-container{
    grid-template-columns: 1fr;
    gap:1.5rem;
  }
  .services_container{
    grid-template-columns: 1fr;
    gap:1.5rem;
  }
}

