
.dark{
color: white;
background-color: #797979;
}
ul{
  list-style: none;
}
a{
  text-decoration: none !important;
  color: inherit;
}
.nav-links a{
  color: white;
}
.nav-links-mobile a{
  color: #fff;
}
h2{
  font-weight: 700;
  color: #040c2c;
  position: relative;
}
section h2::after{
  position: absolute;
  content: '';
  width: 5rem;
  height: 2px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 3rem;
  background: #bcbcbc;
  transition: .5s;

}
.me img{
  border-radius: 25px;
}
section h2:hover::after{
  width: 8rem;
}
section h4{
  padding-bottom: 5rem;
  text-align: center;
}

.navd{
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.navbar{
  margin-top: 2rem;
}
.nav-links{
  justify-content: end;
  margin-right: 2rem;
  margin-bottom: inherit;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  padding:15px;
}
.navbar .logo{
  margin-left: 2rem;
}
.navbar .logo span{
  color: red !important;
}
.mobile-menu-icon{
  display: none;
}
@media screen and (max-width:768px) {
  .nav-links{
    display: none !important;
  }
  .nav-links-mobile{
    position: absolute;
    display: block !important;
    background-color:#005469;
    left:0rem;
    top:75px;
    transition: all 0.5 ease-in-out;
    width: 100%;
    z-index: 1;
  }
  .mobile-menu-icon{
    display: block;
    position: absolute;
    font-size: 25px;
    color: white;
    background-color: #005469;
    border: none;
    outline: none;
    right: 0.75rem;
 
  }
  .portfolio img{
    width: 100% !important;
  }
}
.social-icons li{
  padding:15px;
}
.social-icons li a{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color:#fff;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  line-height: 43px;
  background: rgba(0, 0, 0, .3);
}
.social-icons li a:hover{
  background: #fff;
  color: red !important;
}
.navbar li:hover{
  color: burlywood;
}
.submit-btn{
  border-radius: 4px;
  color: white;
  padding:14px 38px 14px 42px;
  background:#005469 ;
  border-style: none;
  margin: 0 auto;
}
.submit-btn:hover{
  background:  #040c2c;
  color:#fff;
}
#contact .nav{
  flex-direction: column;
  display: block;
}
.nav li{
  display: block;
  padding:15px;
  font:400  Montserrat,sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
color:white !important;
background: #ababab !important;
}
.nav-item a{
  color: inherit;
}
.address{
  display: flex;
}
.about-info h5{
  color: #999;
}
.about-image img{
  width: 100%;
  height: 20rem;
}
.bottom-line{
  width: 80px;
  height: 2px;
  display: inline-block;
  margin: 15px auto;
  background: #bcbcbc;
}

.works{
  background: #2C2C2C;
  opacity: .6;
  padding: 40px 25px 30px;
  border: 1px solid #f3f1f1;
  color: white;
  z-index: -1;
}
.works:hover{
background: #005469 ;
color: white !important;
}
.works h2{
  font-size: 20px;
  color: white;
}
.portfolio-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:2.5rem;
}
.portfolio-item{
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2.5rem;
  border: 1px solid transparent;
  transition: 2s;
}
.portfolio-item:hover{
  background: transparent;
  border-color: var(--color-primary-variant);
}
.portfolio-item img{
  max-width: 22rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio-item{
max-width: 25rem;
text-align: center;
}
.portfolio-item h4{
  margin-top: 1.5rem;
}
.portfolio-links{
  display: flex;
  justify-content: center;
  gap:1rem;
  margin-top: 1rem;
}
.portfolio-menu li{
  border-radius: 2px;
  border:1px solid #ededed;
  color: #040c2c;
  padding: 0 25px;
  padding:14px 38px 14px 42px;
  background-color:transparent;
}
.portfolio-menu li:hover{
  background: #040c2c;
  color: white;

}
.portfolio-menu li button{
color: inherit;
text-decoration: none;
}
.portfolio img{
  width: 40rem;
  height: 350px;
}
.df{
text-align: center;
}
.md{
  border: 1px solid #8a8a8a;
  border-radius: 50%;
  color:white;
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 29px;
  margin-bottom: 20px;
  padding: 15px;
  display: inline-block;
}
.logo >div{
  color: initial;
  margin-left: 12rem;
}

.logo img{
  width: 100%;
  height: 9rem;
}
footer{
  background: var(--color-primary);
  padding: 30px;
  text-align: center;
}
footer img{
  width: 150px;
  height: 100px;
}
.reach-me a{
  margin:0.4rem;
}
.footer_logo{
font-size:2rem;
color: black;
font-weight: 500;
display: block;
margin-bottom: 2rem;
}
.footer_logo:hover{
color: white;
}
.footer_social{
  display: flex;
  justify-content: center;
  gap:1rem;
  margin-bottom: 3rem;
}
.footer_social a{
  background: black;
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}
.contact_container{
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap:12%;
}
.contact_options{
  display: flex;
  flex-direction: column;
  gap:1.2rem;
}
.contact_options article{
  background-color: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
}
.contact_options article a{
  display: inline-block;
  margin-top: 0.7rem;
}
.contact_icon{
  font-size:1.5rem;
  margin-bottom: 1.4rem;
  
}
#contact form{
display: flex;
flex-direction: column;
gap:1.2rem;
}
#contact input, #contact textarea{
  width: 100%;
  resize: none;
  padding: 1.5rem;
  background: transparent;
  color: white;
  border: 2px solid var(--color-primary-variant);
}

.about_container{
  display: grid;
  grid-template-columns: 35% 50%;
  gap:15%;
}
.about_me{
   width: 100%;
    display: grid;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg, transparent,var(--color-primary),transparent);
    place-items: center;
    border-radius: 2rem;
}
.about_me-img{
overflow: hidden;
transform: rotate(10deg);
border-radius: 2rem;
}
.about_me-img img{
  width: 99%;
  height: 100%;
}
.services_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:3rem;
}
.service{
background-color: var(--color-bg-variant);
border-radius: 2rem;
border: 1px solid var(--color-primary);
}
.service_head{
  padding: 1.5rem;
}
.service_head h4{
  font-size: 1rem;

}
.service_head a{
  font-size: 2rem;
  color: white;
}
.text_light{
  color:var(--color-light) !important;
}
.primary_btn{
  padding-left: 3rem;
}

.service ul li{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width:1024px) {
  .contact_container{
    grid-template-columns: 1fr;
    gap:2rem;
  }
  .portfolio-container{
    grid-template-columns: 1fr;
    gap:1.5rem;
  }
  .services_container{
    grid-template-columns: 1fr;
    gap:1.5rem;
  }
  .about_container{
    grid-template-columns: 1fr;
    gap:0;
  }
  .about_me{
    width: 50%;
    margin:2rem  auto 4rem;
  }
  
}
.footer_copyright{
  color: var(--color-bg);
}