@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@300;400;500;600&display=swap');
body {

  background-color:var(--color-bg) !important;
  color: white !important;
  font-family: 'Poppins',sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --color-primary:#4db5ff;
  --color-primary-variant:rgba(77,181,255,0.4);
  --color-bg:#1f1f38;
  --color-bg-variant:#2c2c6c;
  --color-light:rgba(255,255,255,0.6);
}
.container{
  margin:0 auto;
}
section>h2,
section>h5
{
  text-align: center;
  color:var(--color-light);
}
section h2{
  color: var(--color-primary);
  margin-bottom: 2rem;
}